#root, html, body {
    margin: 0;
    padding: 0;
    height:100vh;
    box-sizing:border-box;
    background-color:#264653;
    color:#e76f51;
    
}



.app {
    height: 100vh;
    background-image: url("../public/city.jpg");
    background-size:cover;
    background-position: center;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: aliceblue;
    border-radius: 5px;
    padding:10px 30px;
    border-color: blue;
    border-style: solid;
}